@import url('https://fonts.googleapis.com/css?family=Hind|Source+Serif+Pro&display=swap');


* {
    box-sizing: border-box;
}

    {
    --bg-color: #9f1c19;
    --link-color: #65d1fb;
    --link-hover-color: #ff8500;
    --color-4: #05abeb;
    --color-5: #ff241f;
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Droid Serif", serif;
    --main-text-color: #222222;
    --white-space: 1rem;
}

:root {
    --bg-color: #000;
    --link-color: #000;
    --link-hover-color: #000;
    --color-4: #000;
    --color-5: #000;

    --primary-font: sans-serif;
    --secondary-font: serif;
    --main-text-color: #000;

    --white-space: 0.5rem;
}

html {
    font-size: 100%;
    font-family: var(--primary-font);
}

header,
main,
footer {
    max-width: 1300px;
    margin: 0 auto;
    padding: calc(1*var(--white-space));
}

.full-width {
    background-color: #36393B;
    color: white;
    width: 100%
}

.header-wrapper h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-right: .75em;
    font-weight: bold;
    color: white;
    display: flex wrap;
    flex-direction: row;
}

.header-wrapper h2 {
    font-family: 'Hind', sans-serif;
    font-size: 5em;
    color: rgba(255, 255, 255, 0.95);
    margin: var(--white-space) 0;

}

.header-wrapper h3 {

    align-items: flex-end;
}

.header-wrapper h4 {
    font-size: 0.8rem;
}

main {
    padding: calc(2*var(--white-space));
}

section {
    margin-bottom: calc(2*var(--white-space));
}

.section-heading {
    font-family: var(--primary-font);
    font-style: ;
    font-size: 1.3rem;
    color: #777;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

ul {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

.swatches li {
        margin-right: 3%;
        height: 10vw;
        width: 20%;
    }

ul li:last-child {
    margin-right: 0;
}

.color-swatch-1 {
    background-color: #36393B;
}

.color-swatch-2 {
    background-color: #C9C9C9;
}

.color-swatch-3 {
    background-color: #FFFFFF;
    border: solid 1px;

}

.color-swatch-4 {
    background-color: #ECC8AE;
}

.color-swatch-5 {
    background-color: var(--color-5);
}

.hexcode{
    font-family: 'Source Serif Pro', serif;
    opacity: 0.5;
    font-size: 0.75rem;
}

.modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background-color: #ECC8AE;
    opacity: 0.8;
    padding: 2rem;
    padding-right: 0;
    margin: 3rem;
}

.modal div {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 15rem;
    height: auto;
    background-color: none;
    border: solid black 1px;
}

.modal h1 {
    grid-column: 2/2;
    grid-row: 1/1;
    font-size: 3rem;
    font-family: 'Hind', sans-serif;
    line-height: 1;
    margin: 0;
    margin-right: 0.25rem;
    margin-left: 1rem;

}

.modal p {
    grid-column: 1/ span 2;
    grid-row: 2/2;
    font-family: 'Source Serif Pro', serif;
}


.typography-main {
    color: var(--main-text-color);
}

.h1-sample {
    font-size: 3.4rem;
    font-family: 'Hind', sans-serif;
}

.h2-sample {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.5rem;
}

p.typography-sample {
    font-family: 'Source Serif Pro', serif;
    line-height: 1.5;
    max-width: 960px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    font-family: 'Source Serif Pro', serif;
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    color: #C9C9C9;
}

p[class*="font-details-"] {
    margin-top: .5rem;
    margin-bottom: calc(2*var(--white-space));
    font-size: 0.75rem;
    font-family: var(--secondary-font);
    color: #6f6f6f;
}

.adjectives ul {
    font-size: 2rem;
    font-family: 'Source Serif Pro', serif;
    opacity: 0.5;
}

.adjectives ul {
    flex-direction: column;
}



@media (min-width:800px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }

    .modal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .swatches li {
        margin-right: 3%;
        height: 10vw;
        width: 20%;
    }

}

@media (min-width:900px) {
    .adjectives ul {
        flex-direction: row;
        transform: none;
    }
}
